@import "../../styles/base_styles.scss";

.footer {
  color: $white;
  background: $blue;
  padding: 40px;

  .footer_inner {
    max-width: 1156px;
    display: flex;
    margin: auto;
    h1 {
      margin: 0;
      width: 315px;

      & a {
        width: 100%;
        display: block;
        &:hover {
          opacity: 80%;
        }
        & img {
          display: block;
        }
      }
    }

    .footer_navigation {
      display: flex;
      margin-left: auto;
      margin-bottom: 4px;
      @include font-size("caption-pc-bold");

      ul {
        margin-left: 80px;

        & li:not(:last-of-type) {
          margin-bottom: 4px;
        }

        a {
          color: $white;
          text-decoration: none;

          &:hover {
            opacity: 80%;
          }
        }

        .footer_sublink {
          display: block;
          text-decoration: underline;
          margin-left: 16px;
        }
      }
    }
  }

  .footer_bottom {
    max-width: 1156px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 64px auto 0;

    address {
      @include font-size("caption-pc");

      a {
        color: $white;

        &:hover {
          opacity: 80%;
        }
      }
    }

    p {
      margin: 0;
      @include font-size("label-pc");
      opacity: 0.4;
    }
  }

  .img {
    position: relative !important;
    width: 100%;
  }

  @media screen and (max-width: 1000px) {
    padding: 48px 40px;

    .footer_inner {
      flex-direction: column-reverse;

      h1 {
        order: 2;
        margin: 0;
        width: 100%;
        max-width: 250px;

        img {
          margin-bottom: 40px;
        }
      }

      .footer_navigation {
        display: block;
        margin-left: 0;

        ul {
          margin-left: 0;
          &:not(:last-of-type) {
            margin-bottom: 32px;
          }
        }
      }
    }

    .footer_bottom {
      display: block;

      address {
        @include font-size("label-sp");
        line-height: 150%;

        .sp {
          display: block;
        }
      }

      p {
        @include font-size("label-sp");
        margin-top: 24px;
      }
    }
  }
}
