@import "../../styles/base_styles.scss";

.footer {
  color: $white;
  background: $blue;
  padding: 56px 130px 80px 130px;

  .footer_inner {
    display: flex;
    h1 {
      margin: 0;
      img {
        width: 315px;
      }
    }

    .footer_navigation {
      display: flex;
      margin-left: auto;
      margin-bottom: 48px;
      @include font-size("label-pc-bold");

      ul {
        margin-left: 56px;

        a {
          color: $white;
          text-decoration: none;

          &:hover {
            opacity: 80%;
          }
        }

        .footer_sublink {
          display: block;
          text-decoration: underline;
          margin-left: 16px;
        }
      }
    }
  }
  address {
    @include font-size("caption-pc");

    a {
      color: $white;
    }
  }

  @media screen and (max-width: 1000px) {
    padding: 48px 40px 48px 40px;

    .footer_inner {
      flex-direction: column;

      h1 {
        order: 2;
        margin: 0;

        img {
          width: 240px;
          margin-bottom: 24px;
        }
      }

      .footer_navigation {
        display: block;
        margin-left: 0;

        ul {
          margin-left: 0;
          margin-bottom: 24px;
        }
      }
    }

    address {
      @include font-size("caption-sp");

      .sp {
        display: block;
      }
    }
  }
}
