@import "../../styles/base_styles.scss";

.footer {
  color: $white;
  background: $blue;
  padding: 56px 130px 64px;

  .footer_inner {
    display: flex;
    h1 {
      margin: 0;
      width: 315px;
    }

    .footer_navigation {
      display: flex;
      margin-left: auto;
      margin-bottom: 4px;
      @include font-size("caption-pc-bold");

      ul {
        margin-left: 68px;

        a {
          color: $white;
          text-decoration: none;

          &:hover {
            opacity: 80%;
          }
        }

        .footer_sublink {
          display: block;
          text-decoration: underline;
          margin-left: 16px;
        }
      }
    }
  }
  address {
    @include font-size("caption-pc");

    a {
      color: $white;
    }
  }

  .img {
    position: relative !important;
    width: 100%;
  }

  @media screen and (max-width: 1000px) {
    padding: 48px 40px 48px 40px;

    .footer_inner {
      flex-direction: column-reverse;

      h1 {
        order: 2;
        margin: 0;
        width: 100%;
        max-width: 315px;

        img {
          margin-bottom: 24px;
        }
      }

      .footer_navigation {
        display: block;
        margin-left: 0;
        margin-bottom: 32px;

        ul {
          margin-left: 0;
          margin-bottom: 32px;
        }
      }
    }

    address {
      @include font-size("caption-pc-bold");

      .sp {
        display: block;
      }
    }
  }
}
