@import "../../styles/base_styles.scss";

.header {
  color: $white;
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  padding: 24px 64px 24px 64px;

  h1 {
    margin: 0;
    font-size: 18px;
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      width: 84px;
    }
    span {
      margin-left: 2em;
    }
  }
  .sessions {
    display: flex;
    align-items: center;
    margin-left: auto;

    .contact_button {
      margin-right: 56px;
    }

    .signup_button {
      border-radius: 10px;
      margin-left: 24px;
      padding: 14px 16px;
      background-color: $sky;
    }

    a {
      @include font-size("body-pc");
      display: block;
      color: $white;
      text-decoration: none;
      line-height: 1;

      &:hover {
        opacity: 80%;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    padding: 14px 16px 14px 16px;

    h1 {
      display: flex;
      flex-direction: column;
      font-size: 10px;
      img {
        width: 48px;
      }
      span {
        margin: 8px 0 0 0;
      }
    }
    .sessions {
      a {
        font-size: 16px;
        white-space: nowrap;
        &:last-child {
          margin-left: 24px;
        }
      }
    }
  }
}
