@import "../../styles/base_styles.scss";

.header {
  color: $white;
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  padding: 24px 64px 24px 64px;

  h1 {
    margin: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    a {
      width: 84px;
      display: inline-block;
    }
    span {
      margin-left: 2em;
    }
  }
  .sessions {
    display: flex;
    align-items: center;
    margin-left: auto;

    .button {
      margin-right: 32px;
    }

    .login_button {
      border-radius: 10px;
      padding: 0 16px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white;
      border: 3px solid $darkBlack;
      box-sizing: border-box;
      a {
        color: $darkBlack;
      }
    }

    .signup_button {
      border-radius: 10px;
      margin-left: 16px;
      padding: 0 16px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $darkBlack;
      color: $white;
    }

    a {
      @include font-size("h4-pc");
      display: block;
      color: $white;
      text-decoration: none;

      &:hover {
        opacity: 80%;
      }
    }
  }

  .hamburger {
    display: none;
  }

  @media screen and (max-width: 1000px) {
    padding: 14px 16px 14px 16px;

    h1 {
      display: flex;
      flex-direction: column;
      a {
        width: 48px;
      }
      span {
        margin: 8px 0 0 0;
        line-height: 1;
      }
    }
    .sessions {
      display: none;
    }
    .hamburger {
      display: block;
      margin: 0;
      padding: 0;
      border: 0;
      background: none;
      margin-left: auto;
      div {
        width: 40px;
        display: flex;
        align-items: center;
      }
    }
  }
}

.modal_overlay_base {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
  opacity: 0;
  transition-property: background-color, opacity;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}
.modal_overlay_after {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}

.modal_overlay_before {
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
}
.modal_content {
  background: $background;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px;
  width: 100%;
  height: 100%;
  button {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    margin-left: auto;
    margin-bottom: 40px;
    div {
      width: 40px;
    }
  }
  ul {
    padding: 0 8px;
    a {
      @include font-size("h3-sp");
      color: $white;
      text-decoration: none;
    }
  }
  .menu_list {
    li {
      margin-bottom: 24px;
      a {
        @include font-size("h3-sp");
      }
    }
  }
  .auth_list {
    margin-top: 48px;

    .login_button {
      border-radius: 8px;
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white;
      border: 3px solid $darkBlack;
      box-sizing: border-box;
      margin-bottom: 16px;
      a {
        color: $darkBlack;
      }
    }

    .signup_button {
      border-radius: 8px;
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $darkBlack;
      color: $white;
    }
  }
}

.img {
  width: 100%;
  position: relative !important;
}
