.header {
  color: #fff;
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 64px 24px 64px;
}

.header h1 {
  margin: 0;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header h1 img {
  width: 84px;
}

.header h1 span {
  margin-left: 2em;
}

.header .sessions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.header .sessions .button {
  margin-right: 56px;
}

.header .sessions .signup_button {
  border-radius: 10px;
  margin-left: 24px;
  padding: 14px 16px;
  background-color: #1e32b3;
}

.header .sessions a {
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  display: block;
  color: #fff;
  text-decoration: none;
  line-height: 1;
}

.header .sessions a:hover {
  opacity: 80%;
}

.header .hamburger {
  display: none;
}

@media screen and (max-width: 1136px) {
  .header {
    padding: 14px 16px 14px 16px;
  }
  .header h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 10px;
  }
  .header h1 img {
    width: 48px;
  }
  .header h1 span {
    margin: 8px 0 0 0;
    line-height: 1;
  }
  .header .sessions {
    display: none;
  }
  .header .hamburger {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    margin-left: auto;
  }
  .header .hamburger img {
    display: block;
  }
}

.modal_overlay_base {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
  opacity: 0;
  -webkit-transition-property: background-color, opacity;
  transition-property: background-color, opacity;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.modal_overlay_after {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}

.modal_overlay_before {
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
}

.modal_content {
  background: #1e32b3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px;
  width: 100%;
  height: 100%;
}

.modal_content button {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  margin-left: auto;
  margin-bottom: 40px;
}

.modal_content ul li {
  margin-bottom: 24px;
}

.modal_content ul li a {
  font-style: normal;
  font-size: 20px;
  font-weight: 900;
  line-height: 28px;
  color: #fff;
  text-decoration: none;
}

.modal_content hr {
  border: 1px solid #fff;
  margin-bottom: 32px;
}
/*# sourceMappingURL=header.module.css.map */