@import "../../styles/base_styles.scss";

// ボタン用共通スタイル

@mixin button($color) {
  .button {
    box-sizing: border-box;
    width: 204px;
    height: 51px;
    border-radius: 30px;
    border: 5px solid $white;
    a {
      @include font-size("body-pc");
      color: $white;
      text-decoration: none;
      display: block;
      text-align: center;
      line-height: 41px;
      width: 100%;
      border-radius: 30px;
      margin: 0;
    }
    &:hover {
      border: none;
      a {
        width: 100%;
        height: 100%;
        line-height: 51px;
        background: $white;
        color: $color;
      }
    }
    @media screen and (max-width: 1000px) {
      width: 100%;
      max-width: 248px;
      a {
        @include font-size("h2-sp");
        line-height: 40px;
      }
    }
  }
}

// 全体コンテナ
.landing_container {
  overflow: hidden;
  height: 100%;
  background-color: $background;
  color: $white;
  padding: 24px 0px 160px 0px;

  // ヒーローエリア----------------------------------------------
  .service_hero_area {
    background-size: 100%;
    background-image: url("/images/background_hero1.svg"), url("/images/background_hero2.svg");
    background-size: contain, contain;
    background-repeat: no-repeat;
    background-position: left, right;
    text-align: center;
    margin-bottom: 200px;
    h1 {
      font-weight: 900;
      font-size: 68px;
      line-height: 123%;
      margin: 0;
    }
    p {
      @include font-size("h2-pc");
      margin-bottom: 48px;
    }
    figure {
      width: 100%;
      box-sizing: border-box;
      margin: 0;
      padding: 0 24px;
      img {
        width: 100%;
        max-width: 724px;
      }
    }
  }

  // サービス概要説明----------------------------------------------
  .service_about {
    position: relative;
    width: 1176px;
    position: relative;
    margin: 0 auto 80px;
    &::after {
      content: "";
      position: absolute;
      top: 600px;
      right: -240px;
      width: 300px;
      height: 300px;
      background-image: url("/images/background_bubbles3.svg");
      background-position: bottom 0px right 0px;
      background-repeat: no-repeat;
    }
    &::before {
      content: "";
      position: absolute;
      top: 320px;
      left: -70px;
      width: 260px;
      height: 260px;
      background-size: contain;
      background-image: url("/images/background_bubbles.svg");
      background-position: bottom 0px right 0px;
      background-repeat: no-repeat;
    }
    &_message1 {
      z-index: 1;
      display: flex;
      justify-content: space-between;
      margin-bottom: 502px;
      figure {
        z-index: 1;
        width: 560px;
        margin-top: 0;
        img {
          width: 100%;
        }
      }
      .content {
        z-index: 1;
        h2 {
          @include font-size("h1-pc");
          margin-top: 56px;
          margin-bottom: 24px;
        }
        p {
          @include font-size("body-pc");
        }
      }
    }
    &_message2 {
      .bubble:nth-child(1) {
        position: absolute;
        top: 360px;
        right: 0;
        width: 333px;
        height: 333px;
        padding-top: 48px;
        box-sizing: border-box;
        background-image: url("/images/background_about_project.svg");
        background-size: cover;
        text-align: center;
        img {
          width: 183px;
        }
        h3 {
          @include font-size("h2-pc");
          margin: 0;
        }
        p {
          @include font-size("body-pc");
        }
      }
      .bubble:nth-child(2) {
        position: absolute;
        top: 520px;
        right: 324px;
        width: 333px;
        height: 324px;
        padding-top: 48px;
        box-sizing: border-box;
        background-image: url("/images/background_about_team.svg");
        background-size: cover;
        text-align: center;
        img {
          width: 173px;
          padding-bottom: 16px;
        }
        h3 {
          @include font-size("h2-pc");
          margin: 0;
        }
        p {
          @include font-size("body-pc");
        }
      }
    }
    &_message3 {
      display: flex;
      justify-content: space-between;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 220px;
        right: -160px;
        width: 300px;
        height: 300px;
        background-image: url("/images/background_bubbles4.svg");
        background-position: bottom 0px right 0px;
        background-repeat: no-repeat;
      }
      &::before {
        content: "";
        position: absolute;
        top: 370px;
        left: -280px;
        width: 300px;
        height: 300px;
        background-image: url("/images/background_bubbles5.svg");
        background-position: bottom 0px right 0px;
        background-repeat: no-repeat;
      }
      figure {
        z-index: 1;
        width: 560px;
        margin-top: 160px;
        img {
          width: 100%;
        }
      }
      .content {
        h2 {
          @include font-size("h1-pc");
          margin-top: 220px;
          margin-bottom: 24px;
        }
        p {
          @include font-size("body-pc");
        }
      }
    }
  }

  //サービス導入の効果説明----------------------------------------------
  .service_effect {
    h2 {
      width: 1056px;
      @include font-size("h2-pc");
      margin: 0 auto 32px;
    }
    .items {
      width: 1056px;
      margin: 0 auto 160px;
      @include font-size("label-pc-bold");
      display: flex;
      li {
        &:last-child {
          margin-right: 0;
        }
        margin-right: 40px;
        width: 233px;
        figure {
          margin: 0 0 16px 0;
          img {
            width: 100%;
          }
        }
      }
    }
  }

  //サービス導入の変化説明----------------------------------------------
  .service_change {
    width: 1056px;
    margin: 0 auto 120px;
    h2 {
      @include font-size("h2-pc");
      margin: 0 0 32px 0;
    }
    .items {
      @include font-size("label-pc-bold");
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      margin-bottom: 72px;
      li {
        margin-right: 40px;
        margin-bottom: 20px;
        width: 233px;
        &:last-child {
          margin-right: 0;
        }
        figure {
          margin: 0 0 16px 0;
          img {
            width: 100%;
          }
        }
      }
    }
  }

  //PJsの紹介、サービス紹介PDFへのダウンロード----------------------------------------------
  .service_detail {
    width: 1176px;
    margin: 0 auto;
    .pgs {
      background: $blue;
      width: 1052px;
      padding: 80px 48px 64px 48px;
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      margin-bottom: 80px;
      .pgs_about {
        display: flex;
        figure {
          margin-right: 16px;
        }
        p {
          @include font-size("label-pc-medium");
          margin: 0;
        }
      }
      .pgs_title {
        @include font-size("label-pc-bold");
        margin: 40px 0 8px;
      }
      .pgs_link {
        margin-bottom: 48px;
        li {
          list-style: "- ";
          list-style-position: inside;
          @include font-size("label-pc-medium");
          a {
            margin: 0;
            @include font-size("label-pc-medium");
          }
        }
      }
      .pgs_button {
        @include button($blue);
        .button {
          width: 248px;
          margin: auto;
        }
      }
      figure {
        margin: 0;
        min-width: 64px;
        width: 64px;
        height: 64px;
        background: $white;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          display: block;
          width: 88%;
        }
      }
      div {
        margin-left: 8px;
        @include font-size("caption-pc");
        a {
          @include font-size("label-pc-bold");
          color: $white;
          margin-left: 0.6em;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
    .download {
      text-align: center;
      width: 424px;
      margin: 0 auto 160px;
      h2 {
        @include font-size("h2-pc");
        margin-bottom: 32px;
      }
      p {
        @include font-size("label-pc-bold");
        background: $sky;
        padding: 16px;
        border-radius: 8px;
        img {
          margin-right: 16px;
        }
        a {
          color: $white;
          text-decoration: none;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }

  //動画----------------------------------------------
  .service_movie {
    text-align: center;
    width: 720px;
    margin: 0 auto 160px;
    h2 {
      font-size: 20px;
      font-weight: 900;
      margin-bottom: 40px;
      span {
        @include font-size("h1-pc");
        font-family: $ENGtypo;
        font-style: oblique;
      }
    }
    .dummymovie {
      position: relative;
      border-radius: 24px;
      background: $secondary;
      width: 100%;
      padding-top: 55%;
      height: 0;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;
        &:hover {
          filter: brightness(80%);
        }
      }
      iframe {
        position: absolute;
        border-radius: 24px;
        left: 0;
        top: 0;
        width: 100%;
        height: 102.3%;
        .html5-video-container {
          position: absolute !important;
          height: 100% !important;
          width: 100%;
          overflow: hidden;
        }
      }
    }
  }

  .service_news {
    width: 80%;
    margin: 0 auto 160px;
    position: relative;
    &_title {
      @include font-size("h1-pc");
      text-align: center;
      margin: 0 0 40px;
    }
    &_link {
      a {
        @include font-size("label-pc-bold");
        color: $white;
        position: absolute;
        top: 0;
        right: 0;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    &_items {
      @include font-size("label-pc-bold");
      li {
        margin-bottom: 16px;
        span {
          width: 108px;
          margin-right: 80px;
        }
        a {
          color: $white;
          text-decoration: none;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }

  .service_interview {
    width: 615px;
    margin: 0 auto 160px;
    a {
      color: $white;
      text-decoration: none;
      display: block;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding: 48px 40px 80px 40px;
    }
    &_title {
      @include font-size("h1-pc");
      text-align: center;
      margin: 0 0 40px;
    }
    &_content {
      border-radius: 24px;
      background: $blue;
      .logo {
        line-height: 30px;
        margin: 0;
        img {
          width: 160px;
          height: 30px;
        }
      }
      .image {
        max-width: 280px;
        margin: 24px auto 48px;
        img {
          width: 100%;
        }
      }
      .caption {
        @include font-size("h2-pc");
        margin: 0 0 16px;
      }
      .footnote {
        @include font-size("body-pc");
        color: $sky;
        margin: 0;
        span {
          @include font-size("label-pc-bold");
        }
      }
    }

    &:hover {
      opacity: 0.8;
    }
  }

  .service_media {
    margin-bottom: 160px;
    &_title {
      @include font-size("h1-pc");
      text-align: center;
      margin: 0 0 40px;
    }

    &_contents {
      display: flex;
      justify-content: center;
      &_item {
        width: 397px;
        margin-right: 40px;
        box-sizing: border-box;
        border-radius: 24px;
        background: $green;
        a {
          color: $white;
          text-decoration: none;
          display: block;
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          padding: 32px 32px 48px 32px;
        }
        h3 {
          @include font-size("h2-pc");
          text-align: center;
          margin: 0 0 24px;
        }
        p {
          @include font-size("label-pc-bold");
        }
        &:last-child {
          margin-right: 0;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  //ユーザコミュニティ、お問い合わせ----------------------------------------------
  .service_contact {
    width: 1052px;
    margin: auto;
    display: flex;
    .user_community {
      @include font-size("caption-pc");
      @include button($violet);
      background: $violet;
      border-radius: 24px;
      margin-right: 40px;
      padding: 32px;
      figure {
        text-align: center;
        margin-bottom: 0px;
        img {
          height: 112px;
        }
      }
      h2 {
        margin-top: 0px;
        font-family: $ENGtypo;
        text-align: center;
        @include font-size("h1-pc");
      }
      .button {
        margin: 0 auto;
      }
      .text {
        height: 160px;
      }
      .caption {
        text-align: center;
        a {
          color: $white;
        }
      }
    }
    .contact_us {
      @include font-size("caption-pc");
      @include button($blue);
      background: $blue;
      border-radius: 24px;
      padding: 32px;
      figure {
        text-align: center;
        margin-bottom: 0px;
        img {
          height: 112px;
        }
      }
      h2 {
        margin-top: 0px;
        font-family: $ENGtypo;
        text-align: center;
        @include font-size("h1-pc");
      }
      .text {
        height: 160px;
      }
      .button {
        margin: 0 auto;
      }
    }
  }
}

//タブレット以下設定

@media screen and (max-width: 1000px) {
  .landing_container {
    .service_hero_area {
      margin-bottom: 160px;
      h1 {
        font-size: 34px;
      }
      p {
        margin-bottom: 80px;
        @include font-size("h2-sp");
        span {
          display: block;
        }
      }
    }
    .service_about {
      width: auto;
      margin: auto 24px;

      &::before {
        top: 80px;
        width: 180px;
        height: 180px;
      }

      &_message1 {
        flex-direction: column;
        margin-bottom: 0px;
        figure {
          width: auto;
          margin: 0;
        }
        .content {
          h2 {
            @include font-size("h1-sp");
            margin-bottom: 16px;
          }
          p {
            @include font-size("body-sp-bold");
          }
        }
      }

      &_message2 {
        position: relative;
        width: 306px;
        height: 736px;
        margin: auto;
        .bubble:nth-child(1) {
          position: absolute;
          top: 75px;
          right: 0;
          width: 265px;
          height: 266px;
          padding-top: 32px;
          img {
            width: 171px;
          }
          h3 {
            @include font-size("h2-sp");
          }
          p {
            @include font-size("body-sp-bold");
          }
        }
        .bubble:nth-child(2) {
          position: absolute;
          top: 357px;
          left: 0;
          width: 265px;
          height: 257px;
          padding-top: 32px;
          img {
            width: 162px;
          }
          h3 {
            @include font-size("h2-sp");
          }
          p {
            @include font-size("body-sp-bold");
          }
        }
      }

      &_message3 {
        flex-direction: column;
        margin-bottom: 80px;
        &::after {
          top: 100px;
          right: -60px;
          width: 140px;
          height: 140px;
        }
        &::before {
          top: -200px;
          left: -100px;
          width: 180px;
          height: 180px;
        }
        figure {
          width: auto;
          margin: 0;
        }
        .content {
          order: 2;
          h2 {
            @include font-size("h1-sp");
            margin-bottom: 16px;
          }
          p {
            @include font-size("body-sp-bold");
          }
        }
      }
    }

    .service_effect {
      background-image: none;
      width: auto;
      margin: 0 24px 80px;
      h2 {
        width: auto;
        margin: auto;
        @include font-size("h2-sp");
        margin: 0 0 32px 0;
      }
      .items {
        width: auto;
        margin: auto;
        flex-wrap: wrap;
        li {
          @include font-size("body-sp-bold");
          width: 50%;
          box-sizing: border-box;
          margin: 0;
          margin-bottom: 20px;
          padding-right: 16px;
          text-align: left;
          figure {
            img {
              display: block;
              margin: auto;
              max-width: 280px;
            }
          }
        }
      }
    }

    .service_change {
      width: auto;
      margin: auto 24px;
      h2 {
        @include font-size("h2-sp");
        margin: 0 0 32px 0;
      }
      .items {
        flex-wrap: wrap;
        margin-bottom: 40px;
        li {
          @include font-size("body-sp-bold");
          width: 50%;
          box-sizing: border-box;
          margin: 0;
          margin-bottom: 20px;
          padding-right: 16px;
          text-align: left;
          figure {
            img {
              display: block;
              margin: auto;
              max-width: 260px;
            }
          }
        }
      }
    }

    .service_detail {
      width: auto;
      margin: 0 24px;
      .pgs {
        width: 100%;
        box-sizing: border-box;
        padding: 40px 24px;
        .pgs_about {
          align-items: center;
          flex-direction: column;
          p {
            margin-top: 24px;
            @include font-size("body-sp-bold");
          }
        }
        .pgs_conference {
          display: none;
        }
        .pgs_button {
          margin-top: 48px;
          .button {
            width: 100%;
            max-width: 248px;
            @include font-size("body-sp-bold");
          }
        }
      }
      .download {
        width: auto;
        margin: 0 auto 120px;
        h2 {
          @include font-size("h1-sp");
        }
        p {
          @include font-size("body-sp-bold");
          text-align: left;
          img {
            width: 17px;
            margin-right: 12px;
            float: left;
          }
        }

        @media screen and (max-width: 400px) {
          white-space: nowrap;
          span {
            display: block;
          }
          img {
            display: block;
            width: 32px;
            margin: 4px 12px 0 0px;
          }
        }
        @media screen and (max-width: 340px) {
          white-space: pre-wrap;
          span {
            display: inline;
          }
        }
      }
    }

    .service_news {
      margin: 0 auto 100px;
      &_title {
        @include font-size("h1-sp");
      }
      &_link {
        text-align: right;
        margin-bottom: 16px;
        a {
          position: static;
          @include font-size("body-sp-bold");
        }
      }
      &_items {
        @include font-size("body-sp-bold");
        li {
          margin-bottom: 24px;
          span {
            display: block;
            width: auto;
            margin-right: 0;
            margin-bottom: 8px;
          }
          a {
            color: $white;
            text-decoration: none;
          }
        }
      }
    }

    .service_interview {
      width: auto;
      margin: 100px 24px;
      a {
        padding: 40px 24px 58px 24px;
      }
      &_title {
        @include font-size("h1-sp");
      }
      &_content {
        box-sizing: border-box;
        .logo {
          text-align: center;
          img {
            width: 132px;
          }
        }
        .image {
          margin: 32px auto 32px;
        }
        .caption {
          @include font-size("h1-sp");
        }
        .footnote {
          @include font-size("body-sp-bold");
          span {
            @include font-size("body-sp-bold");
          }
        }
      }
    }

    .service_media {
      margin-bottom: 100px;
      a {
        padding: 32px 16px 38px 16px;
      }
      &_title {
        @include font-size("h1-sp");
      }
      &_contents {
        &_item {
          height: 202px;
          h3 {
            @include font-size("h2-sp");
            text-align: center;
          }
          p {
            @include font-size("body-sp-bold");
          }
        }
      }
    }

    .service_movie {
      width: auto;
      margin: 0 24px 120px;
      h2 {
        @include font-size("h1-sp");
        span {
          @include font-size("h1-sp");
          display: block;
          font-style: oblique;
        }
      }
    }

    .service_contact {
      display: block;
      width: auto;
      margin: auto 24px;
      .user_community {
        margin-right: 0;
        margin-bottom: 40px;
        padding: 40px;
        @include font-size("body-sp-bold");
        h2 {
          @include font-size("h1-sp");
        }
        figure {
          img {
            height: 74px;
          }
        }
        .text {
          margin-bottom: 48px;
          height: auto;
        }
      }
      .contact_us {
        margin-right: 0;
        margin-bottom: 40px;
        padding: 40px;
        @include font-size("body-sp-bold");
        h2 {
          @include font-size("h1-sp");
        }
        figure {
          img {
            height: 74px;
          }
        }
        .text {
          margin-bottom: 48px;
          height: auto;
        }
      }
    }
  }
}

// SP改行調整用

.displaynone {
  display: none;
}

.sp_displaynone {
  @media screen and (max-width: 400px) {
    display: none;
  }
}

// 動画クリック時に、画像をフェードアウトする

.fadeout {
  animation: fadeOut 1s;
  animation-fill-mode: both;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
