@import "../../styles/base_styles.scss";

// ボタン用共通スタイル

@mixin button($color) {
  button {
    @include font-size("h4-pc");
    box-sizing: border-box;
    cursor: pointer;
    width: 204px;
    height: 51px;
    border-radius: 30px;
    border: 5px solid $white;
    background: transparent;
    color: $white;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 0;

    &:hover {
      border: 5px solid transparent;
      background: $white;
      color: $color;
    }

    &:focus {
      outline: none;
    }

    @media screen and (max-width: 1000px) {
      width: 100%;
      max-width: 168px;
    }
  }

  .button {
    box-sizing: border-box;
    width: 248px;
    height: 51px;
    border-radius: 30px;
    border: 5px solid $white;

    a {
      @include font-size("h4-pc");
      color: $white;
      text-decoration: none;
      display: block;
      text-align: center;
      line-height: 41px;
      width: 100%;
      border-radius: 30px;
      margin: 0;
    }
    &:hover {
      border: 5px solid $white;
      a {
        width: 100%;
        height: 100%;
        line-height: 41px;
        background: $white;
        color: $color;
      }
    }

    @media screen and (max-width: 1000px) {
      width: 100%;
      max-width: 248px;
      a {
        @include font-size("h3-sp");
        line-height: 40px;
      }
    }
  }
}

@mixin filledButton {
  .filledButton {
    box-sizing: border-box;
    width: 420px;
    height: 64px;

    a {
      @include font-size("h3-pc");
      background: $black;
      color: $white;
      text-decoration: none;
      display: block;
      text-align: center;
      line-height: 64px;
      width: 100%;
      border-radius: 10px;
      margin: 0;
    }
    &:hover {
      border: none;
      opacity: 0.8;
    }

    @media screen and (max-width: 1000px) {
      width: 100%;
      height: 54px;
      a {
        @include font-size("h3-sp");
        line-height: 54px;
      }
    }
  }
}

// 全体コンテナ
.landing_container {
  overflow: hidden;
  height: 100%;
  background-color: $background;
  color: $white;

  // ヒーローエリア
  .service_hero_area {
    width: 100%;
    height: 638px;
    margin: 8px 0 40px;
    padding: 0 54px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
    overflow-x: hidden;
    .top_image {
      position: absolute;
      width: 100%;
      top: 0;
      right: -2px;
      max-width: 774px;
      z-index: -1;

      & img {
        width: 100%;
        height: auto;
      }
    }
    h1 {
      font-weight: 900;
      font-size: 62px;
      letter-spacing: -0.03em;
      line-height: 1.4;
      margin: 0;
    }
    p {
      @include font-size("h2-pc");
      margin: 16px 0 0;
    }
    &_button {
      margin-top: auto;
      span {
        display: block;
        @include font-size("body-pc-bold");
        margin-bottom: 4px;
      }
      @include filledButton;
    }
  }

  // リリースノート
  .release_notes {
    padding: 0 54px;
    margin-bottom: 50px;
    box-sizing: border-box;

    &_title {
      text-align: center;
      margin: 0 0 40px;
      @include font-size("h1-pc");
    }

    &_content {
      padding: 24px;
      background: $blue;
      color: $white;
      border-radius: 16px;
    }

    &_items {
      & li {
        display: flex;
        margin-bottom: 8px;

        & span {
          @include font-size("body-pc-bold");
          margin-right: 24px;
        }

        & a {
          color: $white;
          @include font-size("body-pc");
          text-decoration: none;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }

    &_link {
      display: flex;
      justify-content: flex-end;

      a {
        @include font-size("body-pc-bold");
        color: $white;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  // サービス導入
  .service_resolution {
    margin-bottom: 100px;
  }

  // 課題説明
  .service_task {
    width: 1008px;
    margin: 0 auto 50px;
    h2 {
      @include font-size("h1-pc");
      text-align: center;
      margin: 0 0 24px;
    }
    ul {
      display: flex;
      justify-content: space-between;
      li {
        width: 280px;
        @include font-size("h4-pc");
        figure {
          width: 233px;
        }
      }
    }
  }

  // サービス概要説明
  .service_about {
    position: relative;
    width: 1056px;
    margin: 0 auto;
    &::after {
      content: "";
      position: absolute;
      top: 300px;
      right: -270px;
      width: 300px;
      height: 300px;
      background-image: url("/images/background_bubbles3.svg");
      background-position: bottom 0px right 0px;
      background-repeat: no-repeat;
    }
    &::before {
      content: "";
      position: absolute;
      top: 160px;
      left: -200px;
      width: 260px;
      height: 260px;
      background-size: contain;
      background-image: url("/images/background_bubbles.svg");
      background-position: bottom 0px right 0px;
      background-repeat: no-repeat;
    }
    &_message1 {
      z-index: 1;
      display: flex;
      justify-content: space-between;
      margin: 0 -100px 160px 0;
      padding-top: 100px;
      figure {
        z-index: 1;
        width: 680px;
        margin: 0;
      }
      .content {
        z-index: 1;
        flex: 1;
        h2 {
          @include font-size("h1-pc");
          margin: 0 0 32px 0;
        }
        p {
          @include font-size("body-pc-bold");
          margin: 0;
        }
      }
    }
    &_message2 {
      display: flex;
      justify-content: space-between;
      position: relative;
      margin: 0 0 100px -100px;
      figure {
        z-index: 1;
        width: 680px;
        margin: 32px 0 0 0;
      }
      .content {
        z-index: 1;
        flex: 1;
        h2 {
          @include font-size("h1-pc");
          margin: 0 0 32px 0;
        }
        p {
          @include font-size("body-pc-bold");
          margin: 0;
        }
      }
      &::before {
        content: "";
        display: none;
        position: absolute;
        top: 346px;
        right: -64px;
        width: 80px;
        height: 85px;
        background-size: contain;
        background-image: url("/images/background_about_project.svg");
        background-position: bottom 0px right 0px;
        background-repeat: no-repeat;
      }
    }
  }

  //新規登録への導線1
  .service_start {
    position: relative;
    padding: 0 24px 100px;
    max-width: 1056px;
    margin: 0 auto 100px;

    &_content {
      padding: 48px 74px;
      border-radius: 30px;
      @include filledButton;
      text-align: center;
      position: relative;
      z-index: 2;
      background: $white;
      color: $black;
    }
    h2 {
      @include font-size("h1-pc");
      margin: 0 0 20px;
      position: relative;
      z-index: 1;
    }
    p {
      @include font-size("body-pc-bold");
      margin: 0;
      position: relative;
      z-index: 1;
    }
    .filledButton {
      position: relative;
      z-index: 1;
      margin: 24px auto 0;
    }
  }

  //活用事例
  .service_interview {
    width: 1136px;
    margin: 0 auto 100px;
    .swiper_container {
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 60px;
    }
    a {
      color: $white;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding: 40px 24px 54px;
      &:hover {
        opacity: 0.8;
      }
    }
    &_title {
      @include font-size("h1-pc");
      text-align: center;
      margin: 0 0 40px;
    }
    &_content {
      border-radius: 24px;
      background: $blue;

      &:nth-child(9n + 1) {
        background: $pink;
      }
      &:nth-child(9n + 2) {
        background: $red;
      }
      &:nth-child(9n + 3) {
        background: $orange;
      }
      &:nth-child(9n + 4) {
        background: $yellow;
      }
      &:nth-child(9n + 5) {
        background: $green;
      }
      &:nth-child(9n + 6) {
        background: $turquoiseBlue;
      }
      &:nth-child(9n + 7) {
        background: $sky;
      }
      &:nth-child(9n + 8) {
        background: $blue;
      }
      &:nth-child(9n + 9) {
        background: $violet;
      }
      .logo {
        line-height: 24px;
        height: 24px;
        margin: 0 0 16px;
        width: 100%;

        & img {
          position: relative !important;
          width: auto !important;
        }
      }
      figure {
        margin: 0;
      }
      .image {
        width: 100%;
        aspect-ratio: 16 / 9;
        margin-bottom: 16px;
        border-radius: 8px;
        overflow: hidden;
      }
      .caption {
        @include font-size("h4-pc");
        margin: 0 0 48px;
      }
      .companyInfo {
        margin-top: auto;
        .companyName {
          @include font-size("caption-pc-bold");
          margin: 0 0 6px;
        }
        .members {
          @include font-size("caption-pc");
          margin: 0;
        }
      }
    }
  }

  //サービス導入の効果説明
  .service_effect {
    margin-bottom: 50px;
    h2 {
      width: 1056px;
      text-align: center;
      @include font-size("h1-pc");
      margin: 0 auto 40px;
    }
    &_items {
      width: 1008px;
      margin: 0 auto;
      @include font-size("label-pc-bold");
      display: flex;
      justify-content: space-between;
      li {
        width: 280px;
        @include font-size("h4-pc");
        figure {
          width: 233px;
        }
      }
    }
  }

  // サービス導入の結果
  .service_result {
    &_content {
      @include font-size("h2-pc");
      display: flex;
      align-items: center;
      width: 860px;
      margin: 0 auto;
      border-radius: 20px;
      background: $sky;

      & figure {
        margin: 20px 24px 20px 54px;
      }
    }
  }

  //PJsの紹介
  .service_detail {
    width: 1056px;
    margin: 0 auto 50px;
    .pgs {
      h2 {
        @include font-size("h1-pc");
        text-align: center;
        margin: 0 0 40px 0;
      }
      background: $blue;
      box-sizing: border-box;
      padding: 48px 48px 40px;
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      .pgs_about {
        display: flex;
        margin-bottom: 24px;
        figure {
          margin: 0 24px 0 0;
          min-width: 96px;
          width: 96px;
          height: 96px;
          background: $white;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          div {
            display: block;
            width: 88%;
          }
        }
        p {
          @include font-size("caption-pc");
          margin: 0;
        }
      }
      .pgs_title {
        @include font-size("h3-pc");
        margin: 0 0 16px;
      }
      .pgs_link {
        margin-bottom: 24px;
        li {
          list-style: "- ";
          list-style-position: inside;
          @include font-size("caption-pc");
          margin-left: 0.6em;
          a {
            margin: 0;
            color: $white;
            @include font-size("caption-pc");
            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
      .pgs_button {
        @include button($blue);
        .button {
          width: 248px;
          margin: auto;
        }
      }
    }
  }

  //動画
  .service_movie {
    position: relative;
    text-align: center;
    width: 720px;
    margin: 0 auto 100px;
    h2 {
      margin: 0 0 40px;
      @include font-size("h1-pc");
      span {
        font-family: $ENGtypo;
        font-style: oblique;
      }
    }
    &_content {
      position: relative;
      border-radius: 24px;
      background: $secondary;
      width: 100%;
      padding-top: 55%;
      height: 0;
      img {
        position: absolute;
        width: 100%;
        height: 102.6% !important;
        left: 0;
        top: 0;
        z-index: 1;
        &:hover {
          filter: brightness(80%);
        }
      }
      iframe {
        position: absolute;
        border-radius: 24px;
        left: 0;
        top: 0;
        width: 100%;
        height: 102.3%;
        .html5-video-container {
          position: absolute !important;
          height: 100% !important;
          width: 100%;
          overflow: hidden;
        }
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: -50px;
      right: -460px;
      width: 300px;
      height: 300px;
      background-image: url("/images/background_bubbles4.svg");
      background-position: bottom 0px right 0px;
      background-repeat: no-repeat;
    }
    &::before {
      content: "";
      position: absolute;
      top: 90px;
      left: -460px;
      width: 300px;
      height: 340px;
      background-image: url("/images/background_bubbles5.svg");
      background-size: 100% 100%;
      background-position: bottom 0px right 0px;
      background-repeat: no-repeat;
    }
  }

  //メディア掲載
  .service_media {
    width: 940px;
    margin: 0 auto 100px;
    .swiper_container {
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 60px;
    }
    &_title {
      @include font-size("h1-pc");
      text-align: center;
      margin: 0 0 40px;
    }
    &_contents {
      display: flex;
      justify-content: center;
      &_item {
        margin-right: 40px;
        box-sizing: border-box;
        border-radius: 24px;
        background: $blue;
        a {
          color: $white;
          text-decoration: none;
          display: block;
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          padding: 32px 32px 54px 32px;
        }
        h3 {
          @include font-size("h3-pc");
          text-align: center;
          margin: 0 0 14px;
        }
        p {
          @include font-size("caption-pc");
          margin: 0;
        }
        &:last-child {
          margin-right: 0;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  //お知らせ
  .service_news {
    margin: 0 auto 100px;
    padding: 0 24px;
    max-width: 1056px;

    &_title {
      @include font-size("h1-pc");
      text-align: center;
      margin: 0 0 40px;
    }

    &_content {
      padding: 24px;
      background: $blue;
      color: $white;
      border-radius: 16px;
    }

    &_link {
      display: flex;
      justify-content: flex-end;

      a {
        @include font-size("body-pc-bold");
        color: $white;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    &_items {
      li {
        display: flex;
        margin-bottom: 8px;
        span {
          margin-right: 32px;
          @include font-size("body-pc-bold");
        }
        a {
          flex: 1;
          color: $white;
          text-decoration: none;
          @include font-size("body-pc");
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }

  // 新規登録への導線2
  .service_trial {
    @include filledButton;
    box-sizing: border-box;
    width: 1056px;
    padding: 48px 42px;
    margin: 0 auto 100px;
    border-radius: 30px;
    color: $black;
    background-color: $white;

    &_heading {
      display: flex;
      align-items: center;
      padding-left: 24px;
      margin-bottom: 24px;

      h2 {
        @include font-size("h1-pc");
        margin: 0;
        margin-left: 16px;
      }

      div {
        width: 76px;
      }
    }

    p {
      @include font-size("body-pc-bold");
      text-align: center;
      margin: 0 0 48px;
    }

    .filledButton {
      margin: 0 auto;
    }
  }

  //ユーザコミュニティ
  .service_contact {
    width: 605px;
    margin: 0 auto 160px;
    display: flex;
    .user_community {
      @include font-size("caption-pc");
      @include button($background);
      border-radius: 24px;
      margin-right: 40px;
      padding: 32px;
      figure {
        text-align: center;
        margin-bottom: 0px;
        img {
          height: 112px;
        }
      }
      h2 {
        margin-top: 0px;
        text-align: center;
        @include font-size("h2-pc");
      }
      .button {
        margin: 0 auto;
      }
      .text {
        height: 160px;
      }
      .caption {
        text-align: center;
        a {
          color: $white;
        }
      }
    }
  }

  //ニュースレター
  .newsletter_container {
    @include button($sky);
    background: $sky;
    padding: 50px;
    .newsletter {
      margin: 0 auto;
      max-width: 604px;
      h2 {
        margin: 0 0 16px;
        text-align: center;
        @include font-size("h2-pc");
      }
      p {
        @include font-size("body-sp");
        margin: 0 0 14px 0;
      }
      input {
        box-sizing: border-box;
        @include font-size("body-pc");
        color: $secondary;
        border: 0;
        border-radius: 8px;
        width: 100%;
        max-width: 400px;
        padding: 0 24px;
        height: 48px;
        margin-right: 24px;
      }
      .submit_area {
        display: flex;
        align-items: center;
        &_text {
          @include font-size("caption-pc");
          margin-right: auto;
          margin-bottom: 16px;
          color: $blue;
        }
      }
    }
  }
}

//タブレット以下設定

@import "./landing_tablet.module.scss";

// SP改行調整用

.displaynone {
  display: none;
}

.sp_displaynone {
  @media screen and (max-width: 400px) {
    display: none;
  }
}

// 動画クリック時に、画像をフェードアウトする

.fadeout {
  animation: fadeOut 1s;
  animation-fill-mode: both;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

// Imageコンポーネントに指定するスタイル
.img {
  position: relative !important;
  width: 100%;
}

.backgroundSky {
  background: #018eff;
}

// 矢印アイコン共通スタイル
.arrow {
  margin: 0 auto 50px;
  text-align: center;
  width: 100px;
}

// SP時のみ改行
.sp_br {
  display: none;

  @media screen and (max-width: 1000px) {
    display: block;
  }
}
