@import "../../styles/base_styles.scss";

.post_container {
  background: $paleBlue;
  color: $black;
  min-height: calc(100vh - 640px);
  @include font-size("label-pc-medium");
  padding: 48px 0px 80px;

  .post_wrapper {
    max-width: 840px;
    margin: 0 auto;

    h1 {
      margin: 0 0 64px 0;
      @include font-size("h1-pc");
    }
  }

  .post_inner {
    border-radius: 24px;
    background: $white;
    padding: 48px 120px;
  }

  .post_date {
    margin-top: 0;
  }

  .post_title {
    margin: 0 0 40px 0;
    @include font-size("h2-pc");
  }

  .post_all {
    margin: 40px auto 0;
    text-align: center;
    width: 600px;
    padding: 16px 0;
    background: $background;

    a {
      color: $white;
      text-decoration: none;
      @include font-size("body-pc");
    }
  }

  //-----

  a {
    color: $sky;
  }

  img {
    max-width: 100%;
  }

  li {
    list-style-type: disc;
    list-style-position: inside;
  }
}

.post_docs {
  margin: 0 0 64px 0;
  box-sizing: border-box;
  padding: 24px;
  background: $paleBlue;
  border-radius: 8px;
  &_title {
    margin-bottom: 16px;
    display: block;
    @include font-size("caption-pc");
  }
  & li {
    list-style-type: decimal;
    @include font-size("caption-pc");
    &:not(:last-of-type) {
      margin-bottom: 8px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .post_container {
    padding: 48px 16px;

    .post_wrapper {
      h1 {
        margin: 0 0 24px 0;
        @include font-size("h1-sp");
      }
    }

    .post_inner {
      padding: 24px;
      border-radius: 16px;
    }
    .post_title {
      margin: 0 0 24px 0;
      @include font-size("h2-sp");
    }

    .post_content {
      @include font-size("body-sp-medium");
    }

    .post_all {
      width: 100%;
      margin-top: 24px;

      a {
        @include font-size("body-sp-medium");
      }
    }
  }

  .post_docs {
    margin-bottom: 40px;
  }
}
