@import "../../styles/base_styles.scss";

.post_container {
  background: $paleBlue;
  color: $black;
  min-height: calc(100vh - 640px);
  @include font-size("body-pc");
  padding: 48px 0px 80px;

  &.works {
    background-image: url("/images/works/background_works_pc.svg");
    background-size: cover;
    background-repeat: repeat-y;
    background-size: 100% auto;
  }

  .post_content {
    & > *:last-child {
      margin-bottom: 0;
    }
  }

  .post_wrapper {
    max-width: 840px;
    margin: 0 auto;

    h1 {
      margin: 0 0 64px 0;
      @include font-size("heading-pc");
    }
  }

  .post_inner {
    border-radius: 24px;
    background: $white;
    padding: 48px 120px;
  }

  .post_date {
    margin: 0 0 16px;
    @include font-size("h4-pc");
  }

  .post_title {
    margin: 0 0 40px 0;
    @include font-size("h1-pc");
  }

  .post_all {
    margin: 48px auto 0;
    width: 600px;
    height: 68px;
    background: $background;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    text-decoration: none;
    @include font-size("body-pc-bold");
  }

  //-----

  h2 {
    @include font-size("h2-pc");
  }

  h3 {
    @include font-size("h3-pc");
  }

  h4 {
    @include font-size("h4-pc");
  }

  h2,
  h3,
  h4 {
    margin: 0 0 20px;
  }

  pre {
    text-wrap: wrap;
    @include font-size("caption-pc");
    margin: -32px 0 40px;
    color: $secondary;
  }

  p {
    margin: 0 0 40px;
  }

  ul {
    margin: 0 0 40px;
  }

  blockquote {
    background: $paleBlue;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 24px;
    margin: 0 0 40px;

    & p {
      margin: 0;
      @include font-size("caption-pc");
    }
  }

  a {
    color: $sky;
  }

  img {
    max-width: 100%;
  }

  li {
    list-style-type: disc;
    list-style-position: inside;

    & img {
      margin-top: 16px;
    }
  }
}

.post_docs {
  margin: 0 0 64px 0;
  box-sizing: border-box;
  padding: 24px 24px 16px;
  background: $paleBlue;
  border-radius: 8px;
  &_title {
    margin: 0 0 16px 0;
    display: block;
    @include font-size("caption-pc-bold");
  }
  & ul {
    margin: 0;
  }
  ul > ul {
    padding-left: 1em;
  }
  & li {
    list-style-type: disc;
    @include font-size("caption-pc");
    margin-bottom: 8px;

    & a {
      color: $darkBlack;
    }
  }
}

.service_trial {
  background: $background;
  margin-top: 64px;
  padding: 40px 104px;
  border-radius: 16px;

  .heading {
    text-align: center;
    margin-bottom: 16px;
    position: relative;

    .image {
      width: 68px;
      margin-right: 20px;
      height: auto;
      position: absolute;
      left: -34px;
      top: 50%;
      transform: translate(0%, -50%);

      img {
        position: relative !important;
        width: 100%;
      }
    }

    h2 {
      @include font-size("h4-pc");
      text-align: center;
      color: $white;
      margin: 0;

      span {
        display: inline-block;
      }
    }
  }

  .text {
    @include font-size("caption-pc");
    margin: 0 0 40px;
    color: $white;
  }

  .filledButton {
    margin: 0 auto;

    a {
      @include font-size("body-pc-bold");
      text-align: center;
      height: 54px;
      border-radius: 10px;
      background: $black;
      color: $white;
      line-height: 54px;
      display: block;
      text-decoration: none;
    }
  }
}

.next_article {
  margin-top: 78px;
  text-decoration: none;
  display: block;

  &_top {
    border-bottom: 1px solid $sky;
    @include font-size("caption-pc-bold");
    color: $sky;
    display: block;
    padding-bottom: 8px;
    margin-bottom: 16px;
  }

  &_content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &_title {
    @include font-size("h4-pc");
    margin-right: 24px;
    width: calc(100% - 264px);
    color: $black;
  }

  &_image {
    width: 264px;
    height: auto;

    & img {
      position: relative !important;
    }
  }
}

@media screen and (max-width: 1000px) {
  .post_container {
    padding: 48px 16px;

    &.works {
      background-image: url("/images/works/background_works_sp.svg");
    }

    .post_wrapper {
      h1 {
        margin: 0 0 22px;
        @include font-size("heading-sp");
      }
    }

    .post_inner {
      padding: 24px;
      border-radius: 16px;
    }

    .post_date {
      margin-bottom: 8px;
      @include font-size("h4-sp");
    }

    .post_title {
      margin: 0 0 24px 0;
      @include font-size("h1-sp");
    }

    .post_content {
      @include font-size("body-sp");
    }

    .post_all {
      width: 100%;
      margin-top: 24px;
      height: 56px;
      @include font-size("h4-sp");
    }

    h2 {
      @include font-size("h2-sp");
    }

    h3 {
      @include font-size("h3-sp");
    }

    h4 {
      @include font-size("h4-sp");
    }

    h2,
    h3,
    h4 {
      margin: 0 0 16px;
    }

    blockquote {
      padding: 16px;

      & p {
        @include font-size("caption-sp");
      }
    }
  }

  .post_docs {
    padding: 16px 16px 8px;
    margin-bottom: 40px;
  }

  .service_trial {
    padding: 18px 0;
    margin-bottom: 10px;

    .heading {
      .image {
        position: static;
        margin: 0 auto;
        transform: translate(0%, 0%);
      }

      h2 {
        @include font-size("h4-sp");
      }
    }

    .text {
      @include font-size("caption-sp");
      margin-bottom: 26px;
      padding: 0 40px;
    }

    .filledButton {
      padding: 0 34px;
    }
  }

  .next_article {
    margin-top: 40px;

    &_top {
      @include font-size("caption-sp-bold");
    }

    &_content {
      display: block;
    }

    &_title {
      width: 100%;
      @include font-size("h4-sp");
      margin-right: 0;
      margin-bottom: 16px;
    }

    &_image {
      width: 100%;
    }
  }
}
