@import "../../styles/base_styles.scss";

.posts_container {
  background: $white;
  color: $black;
  min-height: calc(100vh - 650px);
  @include font-size("label-pc-medium");
  padding: 48px 0 80px;

  .posts_content {
    max-width: 840px;
    margin: 0 auto;

    h1 {
      margin: 0 0 54px;
      @include font-size("h1-pc");
    }
  }

  .posts_item {
    margin: 0 0 40px;
    display: flex;
    align-items: flex-start;
    span {
      display: inline-block;
      background: $paleBlue;
      padding: 0 16px;
      height: 30px;
      margin-right: 24px;
      @include font-size("label-pc-medium");
    }
    a {
      color: $black;
      text-decoration: none;
      @include font-size("h3-pc");
    }
  }

  .pager {
    display: flex;
    justify-content: center;
    @include font-size("h3-pc");
    margin-top: 64px;
    li {
      margin-right: 8px;
      a {
        color: $secondary;
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .posts_container {
    padding: 40px 16px 64px 16px;

    .posts_content {
      max-width: 100%;

      h1 {
        margin: 0 0 24px 0;
        @include font-size("h1-sp");
      }
    }

    .posts_item {
      margin: 0 0 32px;
      display: block;
      span {
        @include font-size("body-sp-medium");
        margin-right: 0;
        margin-bottom: 8px;
      }
      a {
        @include font-size("h3-sp");
        display: block;
      }
    }

    .pager {
      @include font-size("h3-sp");
      margin-top: 84px;
    }
  }
}
