@import "../../styles/base_styles.scss";

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.plan {
  background: $white;
  color: $black;
  @include font-size("label-pc-medium");
  padding: 48px 194px 120px 194px;
  a {
    color: $sky;
  }

  .plan_title {
    margin: 0 0 24px 0;
    @include font-size("heading-pc");
  }

  .plan_caption {
    margin: 0 auto 40px;
    span {
      color: $secondary;
      display: block;
    }
  }

  .button {
    box-sizing: border-box;
    width: 204px;
    height: 51px;
    border-radius: 30px;
    border: 5px solid $black;

    a {
      @include font-size("h4-pc");
      color: $black;
      text-decoration: none;
      display: block;
      text-align: center;
      line-height: 41px;
      width: 100%;
      border-radius: 30px;
      margin: 0;
    }

    &:hover {
      border: none;
      a {
        width: 100%;
        height: 100%;
        line-height: 51px;
        background: $black;
        color: $white;
      }
    }

    @media screen and (max-width: 1000px) {
      width: 100%;
      max-width: 248px;
      a {
        @include font-size("h4-sp");
        line-height: 40px;
      }
    }
  }

  .question_title {
    @include font-size("h1-sp");
  }

  .plan_list {
    display: flex;
    margin: 0 0 38px 0;

    & li {
      box-sizing: border-box;
      border-right: 1px solid $secondary;
      display: flex;
      flex: 1;
      flex-direction: column;
      min-height: 554px;
      padding: 45px 0 24px;

      img {
        position: relative !important;
        width: auto !important;
        height: 120px !important;
      }

      &:nth-child(1) {
        padding-right: 20px;
      }
      &:nth-child(2) {
        padding-left: 20px;
        padding-right: 20px;
      }
      &:nth-child(3) {
        border: 0;
        padding-left: 20px;
      }

      figure {
        text-align: center;
      }
      h2 {
        text-align: center;
        margin: 0 0 8px 0;
        @include font-size("h1-pc");
      }
      .notice {
        @include font-size("h4-pc");
        color: $background;
        text-align: center;
        margin-top: 2em;
      }
      .text {
        margin: 0;
        height: 104px;
      }
      .price {
        @include font-size("h1-sp");
        text-align: center;
        flex-grow: 1;
        .large {
          @include font-size("h1-pc");
        }
        .branket {
          display: block;
          @include font-size("h4-pc");
        }
      }
    }
  }

  /*
   * エンタープライズプラン
   */

  .enterprise {
    margin-bottom: 24px;

    &__title {
      @include font-size("h2-pc");
      padding-top: 24px;
      border-top: 1px solid $secondary;

      @media screen and (max-width: 1000px) {
        @include font-size("h2-sp");
        text-align: center;
      }
    }

    li {
      list-style-type: disc;
      margin-left: 1.4em;
    }

    &__body {
      display: flex;
      box-sizing: border-box;
      gap: 16px;

      @media screen and (max-width: 1000px) {
        flex-direction: column;
      }
    }

    &__description {
      flex: 1;

      & > :not(:first-child) {
        margin-top: 16px;
      }
    }

    &__features {
      @include font-size("caption-pc-bold");
      flex: 0 0 360px;

      @media screen and (max-width: 1000px) {
        flex: 1;
      }
    }

    &__button_contact {
      margin: 40px auto 48px;
    }
  }

  /*
   * すべてのプランでご利用いただける機能
   */

  .common_features {
    text-align: center;
    background-color: #F4F8FF;

    padding: 40px 96px 24px;
    margin-bottom: 48px;

    @media screen and (max-width: 1000px) {
      padding: 24px 16px;
    }

    h2 {
      @include font-size("h2-pc");
      margin: 0;

      @media screen and (max-width: 1000px) {
        @include font-size("h2-sp");
      }
    }

    &__features {
      display: grid;
      column-gap: 16px;
      grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
      margin: 24px auto 0;
      border-bottom: 1px solid $secondary;
      padding-bottom: 24px;
      text-align: left;

      li {
        list-style: disc;
        margin-left: 1.4em;
      }

    }

    &__button_try_now {
      margin: 24px auto;
    }
  }

  .accordion__item {
    @include font-size("body-pc");
    border-bottom: 1px solid $secondary;
  }

  .accordion__button {
    @include font-size("h1-sp");
    position: relative;
    cursor: pointer;
    padding: 32px 36px;
    text-align: left;
    border: none;
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: rgba(35, 115, 255, 0.1);
    }
    &:after {
      position: absolute;
      font-family: $ENGtypo;
      content: "Q";
      color: $background;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
    &:before {
      position: absolute;
      display: inline-block;
      content: "";
      top: 50%;
      transform: translateY(-50%);
      right: 16px;
      height: 40px;
      width: 40px;
      background: url("/images/icon_accprdion.svg");
    }
    &[aria-expanded="true"]::before,
    &[aria-selected="true"]::before {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  [hidden] {
    display: none;
  }

  .accordion__panel {
    position: relative;
    padding: 0 0 32px 36px;
    animation: fadein 0.35s ease-in;
    p {
      margin: 0;
      @include font-size("body-pc-bold");
      line-height: 150%;
    }
    &:after {
      @include font-size("h1-sp");
      position: absolute;
      font-family: $ENGtypo;
      content: "A";
      color: $secondary;
      top: 0;
      left: 0;
    }
  }
}

@media screen and (max-width: 1000px) {
  .plan {
    padding: 40px 24px 120px 24px;
    .plan_title {
      @include font-size("heading-sp");
    }
    .plan_caption {
      margin: 0 auto 0;
      @include font-size("label-pc-bold");
      line-height: 150%;
      span {
        @include font-size("label-pc");
        line-height: 150%;
      }
    }

    .plan_list {
      display: block;
      & li {
        min-height: auto;
        padding: 48px 0;
        border-right: 0;
        border-bottom: 1px solid $secondary;

        &:nth-child(1) {
          padding-right: 0px;
        }
        &:nth-child(2) {
          padding-left: 0px;
          padding-right: 0px;
        }
        &:nth-child(3) {
          border: 0;
          padding-left: 0px;
          padding-bottom: 0px;
        }

        h2 {
          @include font-size("h2-sp");
        }
        .notice {
          @include font-size("label-pc-bold");
          line-height: 150%;
          margin-top: auto;
        }
        .price {
          margin-bottom: 24px;
          @include font-size("h4-sp");
          .large {
            @include font-size("h2-sp");
          }
          .branket {
            @include font-size("h4-sp");
          }
        }
        .text {
          height: auto;
        }
      }
    }

    .question_title {
      @include font-size("heading-sp");
    }
    .accordion__button {
      &::before {
        right: 0;
      }
      @include font-size("h4-sp");
    }
    .accordion__panel {
      p {
        @include font-size("h4-sp");
      }
      &::after {
        @include font-size("h4-sp");
      }
    }
  }
}

// 本文スタイル pc:16px, sp:13px
.body_text {
  @include font-size("body-sp");
  line-height: 150%;

  &_bold {
    @include font-size("body-sp-bold");
    line-height: 150%;
  }

  @media screen and (max-width: 1000px) {
    @include font-size("label-pc");
    line-height: 150%;

    &_bold {
      @include font-size("label-pc-bold");
      line-height: 150%;
    }
  }
}
