@import "../../styles/base_styles.scss";

.policy {
  background: $white;
  color: $black;
  @include font-size("label-pc-medium");
  padding: 48px 194px 120px 194px;
  a {
    color: $sky;
  }

  nav {
    ul {
      @include font-size("h4-sp");
      margin-bottom: 80px;
      display: flex;

      li {
        margin-right: 40px;
        a {
          color: $secondary;
          text-decoration: none;

          &:hover {
            color: $sky;
          }
        }
      }

      li.active {
        a {
          color: $sky;
        }
      }
    }
  }

  .numberList {
    counter-reset: number;
    position: relative;

    & > dd {
      margin-left: 24px;
      margin-bottom: 4px;
    }

    & > dd::before {
      position: absolute;
      left: 0;
      counter-increment: number;
      content: counter(number) "　";
    }
  }

  .discList {
    margin: 0;
    & > dd {
      display: list-item;
      list-style-type: disc;
      margin-left: 24px;
      margin-bottom: 4px;
      @include font-size("body-sp");
    }
  }

  h1 {
    margin: 0 0 40px 0;
    @include font-size("heading-pc");
  }

  h2 {
    margin-top: 64px;
    margin-bottom: 32px;
    @include font-size("h1-pc");
  }

  p {
    @include font-size("body-pc");
    margin: 0;
  }

  table {
    margin-top: 24px;
    th {
      text-align: left;
      vertical-align: top;
      width: 4em;
      @include font-size("label-pc-medium");
      @media screen and (max-width: 1000px) {
        @include font-size("body-sp-medium");
      }
    }
  }

  & > dl {
    margin: 0;

    & > dt {
      @include font-size("h3-pc");
      margin-top: 32px;
      margin-bottom: 8px;
      counter-increment: clause;
    }
    & > dd {
      @include font-size("body-pc");
      margin: 0;
      & > dl {
        & > dt {
          // margin-bottom: 8px;
        }
        & > dd {
          // margin-bottom: 32px;
          // margin-bottom: 8px;
        }
      }
      &:last-child {
        margin-bottom: 64px !important;
      }
    }
  }

  .parentheses {
    padding-left: 24px;
    & > dt {
      counter-increment: paren;
      position: relative;
      margin-bottom: 16px;
      padding-left: 40px;
      &::before {
        position: absolute;
        left: 0;
        content: "(" counter(paren) ")";
      }
    }
  }

  .bullet > dd {
    display: list-item;
    list-style-type: disc;
  }

  .number > dd {
    counter-increment: number;
    position: relative;
    padding-left: 32px;
    margin-left: 0;
    margin-bottom: 16px;
    &::before {
      position: absolute;
      left: 0;
      content: counter(clause) "-" counter(number);
    }
  }

  .simplelist > dt {
    @include font-size("body-pc-bold");
    margin-bottom: 8px;
    margin-top: 32px;
  }
  .simplelist > dd {
    margin-left: 0;
  }

  .caption {
    @include font-size("body-pc");
    margin: 0;
  }

  @media screen and (max-width: 1000px) {
    padding: 32px 24px 120px 24px;
    @include font-size("body-sp-medium");

    nav {
      ul {
        @include font-size("label-pc-bold");
        flex-wrap: wrap;
        margin-bottom: 40px;

        li {
          margin-bottom: 16px;
        }
      }
    }

    h1 {
      @include font-size("heading-sp");
    }

    h2 {
      @include font-size("h1-sp");
      margin-top: 40px;
      margin-bottom: 16px;
    }

    p {
      @include font-size("body-sp");
    }

    & > dl {
      margin: 0;

      & > dt {
        @include font-size("h3-sp");
        margin-top: 24px;
      }
      & > dd {
        @include font-size("body-sp");
        & > dl {
          & > dd {
            margin-bottom: 24px;
          }
        }
        &:last-child {
          margin-bottom: 40px !important;
        }
      }
    }

    .parentheses {
      padding-left: 0px;
      dd {
        margin-left: 2em;
      }
      & > dt {
        margin-bottom: 8px;
        padding-left: 2em;
      }
    }

    .number > dd {
      margin-bottom: 8px;
    }

    .simplelist > dt {
      @include font-size("body-sp-bold");
      margin-top: 24px;
      // line-height: 150%;
    }

    .numberList {
      & > dd {
        margin-left: 16px;
      }
    }

    .discList {
      & > dd {
        margin-left: 16px;
        @include font-size("body-sp");
      }
    }

    .caption {
      @include font-size("body-sp");
    }
  }
}
