@import "normalize.scss";
@import "typo.scss";
@import "color.scss";

body {
  font-family: $JPtypo, "Hiragino Sans", "ヒラギノ角ゴシック",
    "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Roboto, "Droid Sans",
    YuGothic, "游ゴシック", Meiryo, "メイリオ", Verdana, "ＭＳ Ｐゴシック",
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  vertical-align: bottom;
}
