$background: #2373ff;
$black: #0c0c46;
$darkBlack: #000000;
$secondary: #6c6d71;
$white: #fff;
$pink: #ff5a9a;
$red: #fd280e;
$turquoiseBlue: #018eff;
$sky: #018eff;
$blue: #1e32b3;
$paleBlue: #f4f8ff;
$violet: #bc48e3;
$green: #00d18a;
$yellow: #f5aa00;
$orange: #ff7b43;
