$JPtypo: "Noto Sans JP";
$ENGtypo: "Open Sans";

@mixin font-size($size) {
  @if $size == "heading-pc" {
    font-style: normal;
    font-size: 48px;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: normal;
  } @else if $size == "h1-pc" {
    font-style: normal;
    font-size: 32px;
    font-weight: 900;
    line-height: 140%;
    letter-spacing: -0.32px;
  } @else if $size == "h2-pc" {
    font-style: normal;
    font-size: 28px;
    font-weight: 900;
    line-height: 140%;
    letter-spacing: -0.28px;
  } @else if $size == "h3-pc" {
    font-style: normal;
    font-size: 22px;
    font-weight: 900;
    line-height: 150%;
    letter-spacing: -0.48px;
  } @else if $size == "h4-pc" {
    font-style: normal;
    font-size: 18px;
    font-weight: 900;
    line-height: 150%;
    letter-spacing: -0.4px;
  } @else if $size == "body-pc" {
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    line-height: 200%;
    letter-spacing: -0.36px;
  } @else if $size == "body-pc-bold" {
    font-style: normal;
    font-size: 18px;
    font-weight: 700;
    line-height: 200%;
    letter-spacing: -0.36px;
  } @else if $size == "caption-pc" {
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: normal;
  } @else if $size == "caption-pc-bold" {
    font-style: normal;
    font-size: 14px;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: normal;
  } @else if $size == "label-pc" {
    font-style: normal;
    font-size: 13px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: normal;
  } @else if $size == "label-pc-bold" {
    font-style: normal;
    font-size: 13px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: normal;
  } @else if $size == "heading-sp" {
    font-style: normal;
    font-size: 28px;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: normal;
  } @else if $size == "h1-sp" {
    font-style: normal;
    font-size: 24px;
    font-weight: 900;
    line-height: 140%;
    letter-spacing: -0.32px;
  } @else if $size == "h2-sp" {
    font-style: normal;
    font-size: 20px;
    font-weight: 900;
    line-height: 140%;
    letter-spacing: -0.28px;
  } @else if $size == "h3-sp" {
    font-style: normal;
    font-size: 18px;
    font-weight: 900;
    line-height: 150%;
    letter-spacing: -0.48px;
  } @else if $size == "h4-sp" {
    font-style: normal;
    font-size: 16px;
    font-weight: 900;
    line-height: 150%;
    letter-spacing: -0.4px;
  } @else if $size == "body-sp" {
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 200%;
    letter-spacing: -0.36px;
  } @else if $size == "body-sp-bold" {
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: 200%;
    letter-spacing: -0.36px;
  } @else if $size == "caption-sp" {
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: normal;
  } @else if $size == "caption-sp-bold" {
    font-style: normal;
    font-size: 14px;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: normal;
  } @else if $size == "label-sp" {
    font-style: normal;
    font-size: 12px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: normal;
  } @else if $size == "label-sp-bold" {
    font-style: normal;
    font-size: 12px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: normal;
  }
}
